/**
 * Read More / Read Less functionality
 * ---------------------------------------------------------------------------------------------------------------------
 *
 * Basic styles to allow functionality to work
 */

.cm-readmore {

  &__wrapper {
    overflow: hidden;
  }

  &__buttonbar {
    display: none;
    text-align: right;
  }

  &__button-more,
  &__button-less {
    background: #ffffff;
    border: none;
    padding: 5px;
    text-decoration: underline;
    cursor: pointer;
  }

  &--enabled > &__buttonbar {
    display: block;
  }

  &--more > &__buttonbar > &__button-more,
  &--less > &__buttonbar > &__button-less {
    display: none;
  }

}

.cm-textfield,
.cm-textarea,
.cm-checkbox,
.cm-radiobox {
  box-sizing: border-box;
  border-radius: 0;
}

.cm-textfield,
.cm-textarea {
  width: 100%;
  border: 1px solid #919191;
}

.cm-textfield {
  padding: 0 11px;
  height: 37px;
}

.cm-textarea {
  height: 10rem;
  padding: 11px;
  /* reset line-height, so it is not inherited from parent elements */
  line-height: normal;
  /* avoid that browsers reset the font for the text area */
  font: inherit;
  resize: vertical;
}

.cm-textarea::-webkit-input-placeholder,
.cm-textfield::-webkit-input-placeholder {
  color: #3c3c3c;
  font-style: italic;
  opacity: 1;
}

.cm-textarea:-moz-placeholder,
.cm-textfield:-moz-placeholder {
  color: #3c3c3c;
  font-style: italic;
  opacity: 1;
}

.cm-textarea::-moz-placeholder,
.cm-textfield::-moz-placeholder {
  color: #3c3c3c;
  font-style: italic;
  opacity: 1;
}

.cm-textarea:-ms-input-placeholder,
.cm-textfield:-ms-input-placeholder {
  color: #3c3c3c;
  font-style: italic;
  opacity: 1;
}

.cm-textarea--error,
.cm-textfield--error {
  border-color: #dd5050;
}

.cm-textarea--error::-webkit-input-placeholder,
.cm-textfield--error::-webkit-input-placeholder,
.cm-textarea--error:-moz-placeholder,
.cm-textfield-error:-moz-placeholder,
.cm-textarea--error::-moz-placeholder,
.cm-textfield--error::-moz-placeholder,
.cm-textarea--error:-ms-input-placeholder,
.cm-textfield--error:-ms-input-placeholder {
  color: #dd5050;
  font-style: normal;
}

.cm-field {
  display: block;
  box-sizing: border-box;
  line-height: 37px;
  min-height: 37px;

  &__name {
    display: none;
    line-height: 37px;
  }

  &__value--link {
    display: inline-block;
    color: #010000;
    text-decoration: underline;
  }

  &__value--link:hover {
    color: #80A3BF;
    text-decoration: none;
  }

  &--detail &__name {
    display: block;
  }

}

.cm-checkbox.cm-field__value {
  display: inline-block;
  vertical-align: middle;
  margin-right: -17px;
  width: 13px;

  ~ .cm-field__name {
    display: inline-block;
    vertical-align: middle;
    padding-left: 23px;
    line-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

}

.cm-fieldset {
  border: none;
  padding: 0;

  &__item {
    display: block;
    width: 100%;
  }
}
