/* --- authors --- */
.#{$cm-author-prefix} {
  display: flex;
  margin-bottom: $cm-author-spacing;

  &__link {
    display: block;
    color: initial;
  }

  &__picture-box {
    @include aspect-ratio-box(1, 1);
    width: $cm-author-picture-min;
    height: $cm-author-picture-min;
    margin-right: $cm-author-picture-margin;

    @if $cm-author-picture-round {
      border-radius: 50%;
    }
  }

  &__picture {
    @include stretch-absolute();
  }

  &__description {
    // no default styles defined, style this class in the theme.
  }

  &__headline {
    margin-top: 0;
  }

  &__short-text {
    // no default styles defined, style this class in the theme.
  }
}
