$cm-product-assets-slideshow-aspect-ratio: (1, 1) !default;
$cm-product-assets-slideshow-aspect-ratio-portrait: (2, 3) !default;
$cm-product-assets-slideshow-aspect-ratio-landscape: (8, 3) !default;
$cm-product-assets-carousel-aspect-ratio: (1, 1) !default;
