// Flex Grid for Portrait Banner
.cm-portrait-banner-grid {
  $_cm-portrait-banner-grid-gutter-width: 30px;
  $_cm-portrait-banner-per-row-for-xs-portrait: 2;
  $_cm-portrait-banner-per-row-for-xs-landscape-and-up: 4;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -$_cm-portrait-banner-grid-gutter-width;
  margin-left: -$_cm-portrait-banner-grid-gutter-width;

  &__item {
    box-sizing: border-box;
    display: flex;
    width: percentage((100/$_cm-portrait-banner-per-row-for-xs-portrait)/100);

    @include breakpoints(("sm", landscape) "lg-and-up") {
      width: percentage((100/$_cm-portrait-banner-per-row-for-xs-landscape-and-up)/100);
    }
    padding-top: $_cm-portrait-banner-grid-gutter-width;
    padding-left: $_cm-portrait-banner-grid-gutter-width;
  }
}
