//
// Footer
// --------------------------------------------------


.#{$cm-footer-prefix} {
  &__item {
    border-right: none;
  }

  &__copyright {
    font-size: $cm-font-size-small;
  }

  &__link {
    font-size: $cm-font-size-small;
  }
}
