//
// Header
// --------------------------------------------------
.cm-logo {
  background: url("../../img/chef-corp-logo.svg") no-repeat center center transparent;
  // keep in sync with image dimensions
  width: 115px;
  height: 18px;
}

.cm-header {

  &__mobile-search-button {
    margin-right: 10px;
  }
}

.cm-placement--header {
  z-index: 2;
}
