$cm-popup-image-aspect-ratio-x: 2 !default;
$cm-popup-image-aspect-ratio-y: 3 !default;

$cm-popup-mobile-image-aspect-ratio-x: 1 !default;
$cm-popup-mobile-image-aspect-ratio-y: 1 !default;

$cm-popup-max-width: 700px !default;
$cm-popup-max-height: 525px !default;
$cm-popup-margin: auto !default;
