//default variables
$cm-footer-prefix: "cm-footer" !default;
$cm-footer-background-color: #000000 !default;
$cm-footer-color: #fff !default;
$cm-footer-margin: 0 !default;
$cm-footer-padding: 15px 0 !default;
$cm-footer-padding-lg: 15px !default;
$cm-footer-link-margin: 12px !default;

$cm-footer-navigation-prefix: "cm-footer-navigation" !default;
$cm-footer-navigation-background-color: #EFEFED !default;
$cm-footer-navigation-headline-padding-left: 12px !default;
$cm-footer-navigation-headline-margin-top: 25px !default;
$cm-footer-navigation-headline-block-color: #000000 !default;
$cm-footer-navigation-column-item-spacing: 13px !default;
$cm-footer-navigation-column-link-color: #000 !default;
$cm-footer-navigation-padding-bottom: 20px !default;
