$am-text-color: $cm-text-color;
$am-primary-color: $cm-ci-color;

$am-button-background-color: #AE0008;
$am-button-background-color-hover: #AE0008;
$am-button-border-width: 0;
$am-button-text-color: $cm-btn-primary-color;

$am-search-border-color: #000000;
$am-search-submit-width: 20px !default;

$am-input-border-color: transparent;
$am-input-border-color-focus: #000000;

$am-change-search-icon-on-hover: false;

$am-breadcrumb-item-link-color: $cm-text-color;
$am-breadcrumb-item-link-color-hover: $cm-text-color;


$am-notification-info-text-color: $cm-text-color;
$am-notification-info-background-color: transparent;
$am-notification-info-border-color: transparent;
$am-notification-success-text-color: $cm-text-color;
$am-notification-success-background-color: transparent;
$am-notification-success-border-color: transparent;
$am-notification-warning-text-color: $cm-text-color;
$am-notification-warning-background-color: transparent;
$am-notification-warning-border-color: transparent;
$am-notification-error-text-color: $cm-text-color;
$am-notification-error-background-color: transparent;
$am-notification-error-border-color: transparent;

$am-page-number-border: 0;
$am-page-number-text-color: $cm-text-color;
$am-page-number-text-color-hover: $cm-text-color;
$am-page-number-text-color-active: $cm-ci-color;
$am-page-number-background-color: transparent;
$am-page-number-background-color-hover: transparent;
$am-page-number-background-color-active: transparent;
