$cm-notification-color-error: $cm-notification-color-warning-error;
$cm-notification-color-info: $cm-notification-color-info-success;
$cm-notification-color-success: $cm-notification-color-info-success;
$cm-notification-color-warning: $cm-notification-color-warning-error;
