//default variables

//ratings
$cm-rating-statistics-color: #575759 !default;
$cm-rating-statistics-background-color: #eee !default;
$cm-rating-statistics-border-color: #bbb !default;
$cm-rating-star-fill-color-inactive: #efefed !default;

//notifications
$cm-notification: "cm-notification" !default;
$cm-notification-color-error: red !default;
$cm-notification-color-info: blue !default;
$cm-notification-color-success: green !default;
$cm-notification-color-warning: yellow !default;
