//default variables
$cm-author-prefix: "cm-author" !default;

$cm-author-spacing: 15px !default;

$cm-author-picture-margin: 15px !default;
$cm-author-picture-round: true !default;
$cm-author-picture-min: 100px !default;
$cm-author-picture-max: 200px !default;
