//default variables
$cm-details-prefix: "cm-details" !default;

$cm-details-margin: 45px !default;

$cm-details-padding-large-horizontal: 45px !default;
$cm-details-padding-large-vertical: 30px !default;
$cm-details-padding-base-vertical: 10px !default;

$cm-details-text-color: #777777 !default;
