//default variables
$cm-tag-prefix: "cm-tag" !default;
$cm-tag-padding-base-vertical: 10px !default;
$cm-tag-padding-small-vertical: 5px !default;
$cm-tag-item-background-color: #000000 !default;
$cm-tag-item-border-color: #000000 !default;
$cm-tag-item-border-width: 0 !default;
$cm-tag-item-border-style: solid !default;
$cm-tag-item-color: #FFFFFF !default;
