$_aspect-ratio-by-breakpoint: (
  "xs-and-up": (16, 9)
);

@include cm-default-teaser(
  $block-class: "cm-landscape-banner",
  $wrapper-enable: false,
  $media-aspect-ratio-by-breakpoint: $_aspect-ratio-by-breakpoint,
  $dimmer-enable: false
);


/* landscape banner */
.cm-landscape-banner {

  display: flex;
  width: 100%;
  align-content: stretch;
  flex-direction: column;

  &__caption {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: static;
    transform: none;
    box-sizing: border-box;

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__shop-now {
    @include aspect-ratio-box-by-breakpoint($_aspect-ratio-by-breakpoint);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;

    &-button {
      @include center-absolute();
      pointer-events: initial;
    }

    @include breakpoints(("sm", landscape) "lg-and-up") {
      :hover > & {
        display: block;
      }
    }
  }

  &__cta {
    margin-top: auto;
  }

  &__headline {
    margin-bottom: 4px;
    font-size: 26px;
  }

  &__text {
    margin-bottom: 12px;
  }

  &__additional {
    margin-bottom: 12px;
  }


  > .cm-rating {
    display: block;
    text-align: center;
    margin: 10px 0;

    &__votes {
      line-height: 18px; //height of rating star
    }
  }
}
