$_aspect-ratio-by-breakpoint: ("xs-and-up": (1, 1));

@include cm-default-teaser(
  $block-class: "cm-square-banner",
  $wrapper-enable: false,
  $media-background-color: transparent,
  $media-aspect-ratio-by-breakpoint: $_aspect-ratio-by-breakpoint,
  $headline-color: #FFFFFF
);

// Transformations are not part of the brick.
.cm-square-banner {

  &__headline {
    margin-bottom: 4px;
    font-size: 26px;
  }

  &__text {
    margin-bottom: 12px;
  }

  &__picture-box {
    //youtube videos inside the banner
    .cm-mediaelementwrapper iframe {
      @include stretch-absolute();
    }
  }

  &__additional {
    margin-bottom: 12px;
  }

  &__caption {
    @include caption(24px);
    padding: 0 8%;
    // disable any pointer events, so e.g. when the overlay is placed over a link, the link can be clicked
    pointer-events: none;
    transform: none;

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__shop-now {
    @include aspect-ratio-box-by-breakpoint($_aspect-ratio-by-breakpoint);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;

    &-button {
      @include center-absolute();
      pointer-events: initial;
    }

    @include breakpoints(("sm", landscape) "lg-and-up") {
      :hover > & {
        display: block;
      }
    }
  }

  .cm-teaser-overlay {
    &__text {
      margin-bottom: 12px;
    }

    > :last-child{
      margin-bottom: 0;
    }

    // The specification says that all "mobile" breakpoints should show the teaser-overlay positioned the same way
    // than without teaser-overlay no matter the custom positioning. This doesn't apply for colors, fonts styles, etc.
    @include breakpoint(xs) {
      // disable any pointer events, so e.g. when the overlay is placed over a link, the link can be clicked
      pointer-events: none !important;
      transform: none !important;

      width: 100% !important;
      top: auto !important;
      left: auto !important;
      bottom: 48px !important;
      margin-bottom: auto !important;
      margin-right: auto !important;
    }
  }

  > .cm-rating {
    display: none;
  }
}
