//default variables
$cm-shoppable-prefix: "cm-shoppable" !default;
$cm-shoppable-teaser-background-color: #fff !default;
$cm-shoppable-teaser-color: #000 !default;
$cm-shoppable-teaser-specialprice-color: #000 !default;
